body {
	padding-top: 70px;
}

input[type='text'] {
	padding-left: 5px;
}

#check {
	width: 10%;
}

#taskname {
	width: 70%;
}

#details {
	width: 20%;
}

.panel-form {
	padding: 0 15px;	
}

.glyphicon-fire {
	color: darkred;
}

.form-row {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.finished {
	text-decoration: line-through;
}

#newtask {
	width: 100%;
}

#cal-panel {
	display: none;
}

#auth-panel {
	display: none;
}