body {
	padding-top: 70px;
}

html.waiting, html.waiting * { cursor: wait !important; }

input[type='text'] {
	padding-left: 5px;
}

input[type='number'] {
	margin: 0 10px;
	text-align: right;
}

#check {
	width: 10%;
}

#taskname {
	width: 70%;
}

#details {
	width: 20%;
}

.panel-form {
	padding: 0 15px;	
}

.glyphicon-fire {
	color: darkred;
	position: absolute;
	top: 200px;
}

.form-row {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.finished {
	text-decoration: line-through;
}

#newtask {
	width: 100%;
}

#cal-popup {
	height: 400px;
	width: 600px;
	background-color: green;
}

.auth-view, .add-view, .success-view, .fail-view {
	display: none;
}

.invisible {
	display: none;
}

.datepicker-yes, .datepicker-no {
	visibility: hidden
}
