body {
	padding-top: 80px;
	background: url(/images/ignasi_pattern_s.png) repeat 0 0;
	background-attachment: fixed;
}

.container-body, .container-navbar {
	width: 100%;
	max-width: 1200px;
}

.container-body {
	background-color: white;
	height: calc(100vh - 100px);
}

.navbar {
	border-radius: 0 ;
}

#logout > a {
	color: black;
}

#logout:hover > a {
	color: white;
}

html.waiting, html.waiting * { 
	cursor: wait !important; 
}

input[type='text'] {
	padding-left: 5px;
}

input[type='number'] {
	margin: 0 10px;
	text-align: right;
}

#check {
	width: 10%;
}

#taskname {
	width: 70%;
}

#details {
	width: 20%;
}

.panel-form {
	padding: 0 15px;	
}

.form-row {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.finished {
	text-decoration: line-through;
}

#newtask {
	width: 100%;
}

#cal-popup {
	height: 400px;
	width: 600px;
	background-color: green;
}

.inline {
	display: inline-block;
}

.auth-view, .add-view, .success-view, .fail-view {
	display: none;
}

button.success-view {
	margin-right: 4px;
}

.invisible {
	display: none;
}

.datepicker-yes, .datepicker-no {
	display: none;
}

.table-link {
	cursor: pointer;
}

.table-hover > tbody > tr.form-row:hover > td,
.form-row > td {
    background-color: white;
}
