extends layout

block content
  form.form(action="/login", method="post", role="form")
    .form-group
      label Username: &nbsp;
      input.form-control(type="text" name="username")
    .form-group
      label Password: &nbsp;
      input.form-control(type="password" name="password" value="password")
    button.btn.btn-default(type='submit') Submit
  -if(message)
    .alert.alert-warning= message